In [2]:
import openpyxl as excel

In [4]:
book = excel.Workbook()
sheet = book.active

sheet["A1"]="３月　売上データ一覧"
sheet["A2"]="日付け"
sheet["A3"]="3月3日"
sheet["A4"]="3月5日"
sheet["A5"]="3月5日"
sheet["A6"]="3月7日"
sheet["A7"]="3月15日"
sheet["A8"]="3月16日"
sheet["A9"]="3月20日"
sheet.cell(row=2,column=2,value="購入者")
sheet.cell(row=3,column=2,value="鈴木太郎")
sheet.cell(row=4,column=2,value="伊藤次郎")
sheet.cell(row=5,column=2,value="西川三郎")
sheet.cell(row=6,column=2,value="山田史郎")
sheet.cell(row=7,column=2,value="伊藤次郎")
sheet.cell(row=8,column=2,value="山田史郎")
sheet.cell(row=9,column=2,value="山下五郎")
cell=sheet.cell(row=2,column=3)
cell.value="品名"
cell=sheet.cell(row=3,column=3)
cell.value="バナナ"
cell=sheet.cell(row=4,column=3)
cell.value="リンゴ"
cell=sheet.cell(row=5,column=3)
cell.value="イチゴ"
cell=sheet.cell(row=6,column=3)
cell.value="バナナ"
cell=sheet.cell(row=7,column=3)
cell.value="リンゴ"
cell=sheet.cell(row=8,column=3)
cell.value="イチゴ"
cell=sheet.cell(row=9,column=3)
cell.value="マンゴー"
sheet["D2"]="個数"
sheet["D3"]=3
sheet["D4"]=2
sheet["D5"]=2
sheet["D6"]=8
sheet["D7"]=2
sheet["D8"]=5
sheet["D9"]=3
sheet.cell(row=2,column=5,value="値段")
sheet.cell(row=3,column=5,value=1000)
sheet.cell(row=4,column=5,value=1500)
sheet.cell(row=5,column=5,value=2000)
sheet.cell(row=6,column=5,value=1000)
sheet.cell(row=7,column=5,value=1500)
sheet.cell(row=8,column=5,value=2000)
sheet.cell(row=9,column=5,value=1900)
sheet.cell(row=2,column=6,value="小計")
sheet.cell(row=3,column=6,value=3000)
sheet.cell(row=4,column=6,value=3000)
sheet.cell(row=5,column=6,value=4000)
sheet.cell(row=6,column=6,value=8000)
sheet.cell(row=7,column=6,value=3000)
sheet.cell(row=8,column=6,value=10000)
sheet.cell(row=9,column=6,value=5700)

book.save("uriage.xlsx")

In [5]:
book = excel.load_workbook("uriage.xlsx")
#book = excel.load_workbook("uriage.xlsx",data_only=Trueでエクセルの計算式が計算式ではなく結果で表示される)
sheet = book.active

rows = sheet["A3:F9"]
for row in rows:
    values = [cell.value for cell in row]
    print(values)

['3月3日', '鈴木太郎', 'バナナ', 3, 1000, 3000]
['3月5日', '伊藤次郎', 'リンゴ', 2, 1500, 3000]
['3月5日', '西川三郎', 'イチゴ', 2, 2000, 4000]
['3月7日', '山田史郎', 'バナナ', 8, 1000, 8000]
['3月15日', '伊藤次郎', 'リンゴ', 2, 1500, 3000]
['3月16日', '山田史郎', 'イチゴ', 5, 2000, 10000]
['3月20日', '山下五郎', 'マンゴー', 3, 1900, 5700]

In [3]:
book = excel.load_workbook("uriage.xlsx",data_only=True)
sheet = book.active

rows = sheet["A3":"F999"]
for row in rows:
    values = [cell.value for cell in row]
    if values[0] is None:
        break
    print(values)

['3月3日', '鈴木太郎', 'バナナ', 3, 1000, 3000]
['3月5日', '伊藤次郎', 'リンゴ', 2, 1500, 3000]
['3月5日', '西川三郎', 'イチゴ', 2, 2000, 4000]
['3月7日', '山田史郎', 'バナナ', 8, 1000, 8000]
['3月15日', '伊藤次郎', 'リンゴ', 2, 1500, 3000]
['3月16日', '山田史郎', 'イチゴ', 5, 2000, 10000]
['3月20日', '山下五郎', 'マンゴー', 3, 1900, 5700]

In [5]:
book = excel.load_workbook("uriage.xlsx",data_only=True)
sheet = book.active

for row in sheet.iter_rows(min_row=3):
    values = [cell.value for cell in row]
    if values[0] is None:
        break
    print(values)

['3月3日', '鈴木太郎', 'バナナ', 3, 1000, 3000]
['3月5日', '伊藤次郎', 'リンゴ', 2, 1500, 3000]
['3月5日', '西川三郎', 'イチゴ', 2, 2000, 4000]
['3月7日', '山田史郎', 'バナナ', 8, 1000, 8000]
['3月15日', '伊藤次郎', 'リンゴ', 2, 1500, 3000]
['3月16日', '山田史郎', 'イチゴ', 5, 2000, 10000]
['3月20日', '山下五郎', 'マンゴー', 3, 1900, 5700]